<div *ngFor="let category of [1,2,3]; let i = index">
  Title:
  <div appI18n [params]="{a:1}">dashboard.title</div>
</div>
<button (click)="toggleLocale('en')">en</button>
<button (click)="toggleLocale('fr')">fr</button>

<div class="container">
  <h1>Hero Form</h1>
  <form #heroForm="ngForm" appAutosave [value]="heroForm.value" [delay]="2000" id="form1">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="model.name">
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo" name="alterEgo" [(ngModel)]="model.alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

  {{heroForm.value | json}}
</div>
